[submodule "external/body/SMPLest-X"]
	path = external/body/SMPLest-X
	url = git@github.com:SMPLCap/SMPLest-X.git
[submodule "external/face/emoca"]
	path = external/face/emoca
	url = git@github.com:Roda10/emoca.git
[submodule "external/hands/WiLoR"]
	url = https://github.com/rolpotamias/WiLoR.git
	path = external/hands/WiLoR
[submodule "external/external/hands/WiLoR"]
	path = external/external/hands/WiLoR
	url = https://github.com/rolpotamias/WiLoR.git
